html, body{
    margin: 0px;
}
header{
    height: 100px;
    background-color: cornflowerblue;
}
a{
    text-decoration: none;
}
#homepage{
    display: block;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    color: pink;
}
main{
    width: 1120px;
    margin: auto;
}
#link{
    display: none;
}
#youtubeNone{
    display: none;
}